canvas {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.main_container {
  width: 95%;
  height: 90%;
}

.pointer {
    cursor: pointer;
}

.panel {
    padding: 15px;
}